//**
1 +
2 +
3 +
4 +
5 +
6 +
7 +
8 +
9 +
10 +
11 +
12 +
13 +
14 x
**//

header {
    border: solid;
    border-color: pink;
    border-width: 1px;
}

header ul li {
    list-style: none;
    float; left;
    display: inline-block;
    margin: 20px 30px;
    border: solid;
    border-color: pink;
    border-width: 1px;
}

.month-list {
    color: purple;
}

.disabled {
    color: grey;
}

.active {
    color: yellow;
}



.cr {
    background-color: red;
}


.cb {
    background-color: blue;
}

.parent h4 {
    border: 1px;
    border-radius: 40%;
}

.grandparent h4 {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


.grandparent div div div {
    color: red;
}

.grandparent div div .blue {
    color: blue;
}

.promo {
    color: gold;
    font-weight: bold;
}

input {
    height: 25px;
}